// primary color
$color-primary-lighter: rgb(0, 245, 155);
$color-primary-light: rgb(0, 194, 123);
$color-primary: rgb(0, 143, 90);
$color-primary-dark: rgb(0, 92, 58);
$color-primary-darker: rgb(0, 41, 26);

// accent color
$color-accent-lighter: rgb(250, 235, 215);
$color-accent-light: rgb(250, 235, 215);
$color-accent: rgb(250, 235, 215);
$color-accent-dark: rgb(222, 184, 135);
$color-accent-darker: rgb(222, 184, 135);

// base colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

// contrast
$color-bg: $color-white;
$color-contrast-lower: rgb(242, 242, 242);
$color-contrast-low: rgb(211, 211, 211);
$color-contrast-medium: rgb(121, 121, 121);
$color-contrast-high: rgb(49, 49, 49);
$color-contrast-higher: rgb(34, 34, 34);